[project]
name = "tpu-jax-y2x"
version = "0.1.0"
description = "JAX multi-host TPU training demo"
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "3.10.*"
pip = "*"

[tasks]
install-deps = """
python -m pip install --upgrade pip && \
python -m pip install -U "jax[tpu]" -f https://storage.googleapis.com/jax-releases/libtpu_releases.html && \
python -m pip install -U optax numpy
"""

train = "python train.py"
